.arrow {
    position: absolute;
    width: 6px;
    height: 6px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    transform: rotate(-45deg);
    transition: border-color $hoverTime;
    -webkit-transition: border-color $hoverTime;
    -moz-transition: border-color $hoverTime;
    -ms-transition: border-color $hoverTime;
    -o-transition: border-color $hoverTime;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}