.breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;

    &__item {
        margin-left: 5px;
        margin-right: 5px;
    }

    &__item--home {
        position: relative;
        width: 16px;
        height: 16px;
        fill: currentColor;
        margin-right: 16px;

        .breadcrumbs__icon-home {
            position: absolute;
            top: -3px;
        }

        .breadcrumbs__icon-chevron {
            right: -14px;
            top: 2px;
        }
    }

    &__icon-chevron {
        position: absolute;
        margin-left: 8px;
        margin-right: 0;

        path {
            fill: #d2d2d2;
        }
    }

    &__link {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 14px;
        line-height: 16px;

        span {
            color: #3e77aa;
            cursor: pointer;
            margin-right: 23px;
        }
    }

    &__link_end {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 14px;
        line-height: 16px;

        span {
            margin-right: 23px;
        }
    }
}