.menu_circle_close {
    svg {
        cursor: pointer;

        path {
            transition: stroke $hoverTime;
            -webkit-transition: stroke $hoverTime;
            -moz-transition: stroke $hoverTime;
            -ms-transition: stroke $hoverTime;
            -o-transition: stroke $hoverTime;
        }
    }

    svg:hover {
        path {
            stroke: #0aaeb9;
        }
    }
}