//timer
.timer {
    display: flex;
    justify-content: space-between;
    color: #0aaeb9;
    @extend %Century-400;
    line-height: 1.2;
    font-size: 19px;

    &-text {
        margin-right: 15px;

    }

    &-time:not(:last-child) {
        margin-right: 10px;
    }

}