// FON
.fon {
    position: fixed !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 200 !important;
    background-color: #988a8a !important;
    top: 0;
    left: 0;
    opacity: 0.8 !important;
}

.fon_disable {
    display: none;
}