.input_change_time {
    width: 240px;
    position: relative;
    background-color: black;

    .cart_list_btn__close {
        position: absolute;
        left: 212px;
        top: 2px;
        cursor: pointer;
    }
}