// Випадаюче меню другого рівня
.hover_sub_menu {
    top: 17px;
    left: 60px;
    max-width: 890px;
    width: 378px;
    background-color: #0E3B3E;
    /* margin-bottom: 25px; */
    /* margin-top: 20px; */
    padding: 5px 70px 25px 5px;
    position: absolute;

    .menu_circle_close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__wrapper {
        .items {
            display: block;
        }
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__column {
        max-width: 210px;
        width: 100%;
        height: 25px;
        position: relative;
    }

    &__column:hover {


        .hover_sub_menu__items {
            display: block;
            position: relative;
        }
    }

    &__link_title {
        font-size: 13px;
        line-height: 25px;
        font-weight: 700;
        color: $openHoverDropDownMenuText;
        transition: color $hoverTime;
        -webkit-transition: color $hoverTime;
        -moz-transition: color $hoverTime;
        -ms-transition: color $hoverTime;
        -o-transition: color $hoverTime;
        display: block;
        width: 379px;
    }

    &__link_title_wrapper {
        position: relative;

        .arrow {
            top: 10px;
            right: 15px;
            border-color: #14B1F0;
        }

    }



    &__link_title_wrapper:hover {
        a {
            color: white;
        }

        .arrow {
            border-color: white;
        }
    }


    &__link {
        font-size: 12px;
        line-height: 25px;
        color: white;
        transition: color $hoverTime;
        -webkit-transition: color $hoverTime;
        -moz-transition: color $hoverTime;
        -ms-transition: color $hoverTime;
        -o-transition: color $hoverTime;
    }

    &__link:hover {
        color: $hoverSubMenuText;
    }


    &__column>a:hover {
        color: $hoverSubMenuText;
    }

    &__column {}

    .link_title {}

    &__items {
        display: none;
        background-color: #03484c;
        position: absolute;
        top: -15px;
        left: 50px;
        z-index: 10;
        padding: 10px;
        width: 320px;

    }


    &__column_img {
        max-width: 312px;

        height: 183px;

        img {
            width: 312px;
            height: 183px;
            object-fit: contain;
        }

    }

}





@media (max-width: 1399.98px) {

    .hover_sub_menu__columns {
        gap: 0;


    }

    .hover_sub_menu__column {
        height: 33px;
    }

    .hover_sub_menu__link_title {
        line-height: 2;
    }

    .hover_sub_menu__items {
        // width: 215px;
        left: 24px;
    }

    .hover_sub_menu__link {
        // line-height: 2;
    }

    .hover_sub_menu__link_title_wrapper .arrow {
        // top: 8px;
        // right: 9px;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .hover_sub_menu__column {
        width: 100%;
        max-width: initial;
    }

    .hover_sub_menu__items {
        width: calc(100% - 7px);

    }
}