//social
.social {
    max-width: 170px;
    width: 100%;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        svg {
            path {
                fill: #ffffff;
                transition: fill $hoverTime;
                -webkit-transition: fill $hoverTime;
                -moz-transition: fill $hoverTime;
                -ms-transition: fill $hoverTime;
                -o-transition: fill $hoverTime;
            }
        }

        svg:hover {
            path {
                fill: #14B1F0;
            }
        }

    }
}

@media (max-width: 1399.98px) {
    .social {
        width: calc(100vw / 8.23);
    }
}