// special_offer
.special_offer {
    left: 0px;
    top: 0;
    font-size: 37px;
    line-height: 1.2;
    width: 140px;

    span {
        color: #C82020;
    }

}


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .special_offer {
        font-size: 25px;
    }
}