@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/AnyConv.com__Roboto-Light.woff2') format('woff2'),
    url('../fonts/AnyConv.com__Roboto-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/AnyConv.com__Roboto-Regular.woff2') format('woff2'),
    url('../fonts/AnyConv.com__Roboto-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/AnyConv.com__Roboto-Bold.woff2') format('woff2'),
    url('../fonts/AnyConv.com__Roboto-Bold.woff') format('woff');
}





@font-face {
  font-family: 'Trebuchet MS Regular1';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/AnyConv.com__Trebuchet_MS.woff2') format('woff2'),
    url('../fonts/AnyConv.com__Trebuchet_MS.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/AnyConv.com__GOTHIC.woff2') format('woff2'),
    url('../fonts/AnyConv.com__GOTHIC.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/AnyConv.com__GOTHIC.woff2') format('woff2'),
    url('../fonts/AnyConv.com__GOTHIC.woff') format('woff');
  font-display: swap;
}