html {
    font-size: 15px;
}

body {
    @extend %Century-400;
    font-size: 16px;
    line-height: 1.2;
    background-color: $fon;
    color: $text;
    overflow-x: hidden;
}

.main {
    position: relative;
    margin-top: 100px;
}

.container {
    max-width: 1495px;
    padding: 0 5px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.container__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .main {
        margin-top: 50px;
    }
}