$back: rgb(41, 41, 9);
$text: rgb(212, 166, 166);
$fon: #f6f6f6;

$hoverTime: 0.3s ease-in-out;




// -------------------------------------------------------

%Montserrat-400 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

// -------------------------------------------------------
%Roboto-300 {
    font-family: 'Roboto-Light';
    font-weight: 300;
}


%Roboto-400 {
    font-family: 'Roboto-Regular';
    font-weight: 400;
}

%Roboto-700 {
    font-family: 'Roboto-Bold';
    font-weight: 700;
}

// -------------------------------------------------------

%Trebuchet-400 {
    font-family: 'Trebuchet MS Regular1';
    font-weight: 400;
}

// -------------------------------------------------------
%Century-400 {
    font-family: 'Century Gothic Regular';
    font-weight: 400;
}

%Century-700 {
    font-family: 'Century Gothic Regular';
    font-weight: 700;
}