.arrivals {

    &__wrraper {
        padding: 50px 75px;
        background-color: #fff;


    }

    &__top {

        height: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

    }

    &__top-title {
        color: #000;
        font-weight: inherit;
        font-size: 28px;
        line-height: 1.2;

        span {
            color: #00CAD7;
            margin-right: 10px;
        }


    }






}