.catalog_product {
    background-color: white;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    display: grid;
    grid-template-columns: 220px auto;

    &-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &-grid_cart {
        max-width: 250px;
        min-width: 200px;
        width: 100%;
        padding: 16px;
        background-color: #fff;
        position: relative;
    }

    .catalog_product-grid_cart-box {
        position: absolute;
        border: 1px solid #e9e9e9;
        z-index: 6;
        inset: 0;
        margin: auto;
        background-color: #fff;
    }

    &-grid_cart:hover {
        .catalog_product-grid_cart-box {
            box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.23);
            margin: 0 -8px;
        }
    }

    .heart_wrap {
        top: 10px;
    }

    &-heart-button {
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }

    &__picture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 240px;
        margin-bottom: 8px;
        z-index: 6;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }


    &_content {
        z-index: 5;
    }

    &-name--link {
        display: block;
        height: 32px;
        margin-bottom: 8px;
        overflow: hidden;
        font-size: 14px;
        line-height: 16px;
        color: #221f1f;
        z-index: 10;
        position: relative;
    }

    &__rating {
        position: relative;
        z-index: 10;
    }

    &-prices {
        position: relative;
        z-index: 6;

        button {}
    }

    &-price--old {
        position: relative;
        height: 18px;
        font-size: 14px;
        color: #797878;
        text-decoration: line-through;
    }

    &-price--red {
        font-size: 24px;
        color: red;
    }

    &-price--normal {
        font-size: 24px;
        color: #221f1f;
    }

    &-update {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e9e9e9;
        color: #000;
        padding-top: 20px;
        padding-bottom: 20px;
        left: -69px;

        a {
            // pointer-events: none;
            cursor: pointer;
        }

        svg {
            margin-right: 16px;
        }

        span {
            position: absolute;
            font-size: 20px;
            font-weight: 600;
            padding-top: 12px;
            border-bottom: 2px solid transparent;
            transition: color $hoverTime, border-color $hoverTime;
        }

        span:hover {
            color: #14B1F0;
            border-color: #14B1F0;
        }
    }

    .catalog_product-footer {
        padding-right: 20px;
    }

    .catalog_product-pagination {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 15px;
        color: #221f1f;

        a {
            position: relative;
            z-index: 5;
            display: inline-block;
            min-width: 48px;
            border: 1px solid #e9e9e9;
            border-radius: 4px;
            text-align: center;
            font-size: 20px;
            line-height: 40px;
            transition: color $hoverTime, border-color $hoverTime;
        }

        a:hover {
            color: #14B1F0;
            border-color: #14B1F0;
        }

        svg {
            color: #14B1F0;
        }
    }

    .pagination-btn:hover {
        cursor: default;
    }

    .pagination-btn.disable {
        cursor: default;

        svg {
            path {
                fill: #d2d2d2;
            }
        }
    }

    .catalog_product-pagination__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 4px;
    }

    .catalog_product-pagination__item {}

    &-rating-sales {
        display: flex;
        justify-content: space-between;
        color: black;
    }

    &-filter_parent {
        color: #000;
    }
}

.catalog_product.disable_grid {
    grid-template-columns: auto;
}