.filter-products {
    width: 250px;
    background-color: white;
    border-top: 1px solid #e9e9e9;

    a {
        color: #060606;

        span {
            color: #a6a5a5;
        }
    }

    .sidebar-block__toggle-title {
        color: #15ADB7;
    }

    &__item {
        border-right: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        padding: 15px 5px;
    }
}

.sidebar-block {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.sidebar-block__toggle {
    width: 16px;
    height: 16px;
    cursor: pointer;

    svg {
        transition: transform $hoverTime;
    }
}

.sidebar-block__toggle.rotate {
    svg {
        transform: rotate(180deg);
    }
}

.sidebar-block__toggle-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    color: #15ADB7;
    cursor: pointer;
    margin-right: 16px;
}

.sidebar-block__toggle-quantity {
    font-size: 12px;
    font-weight: 400;
    color: #a6a5a5;
}


.sidebar-block__inner.show {
    display: none;
}

.filter-searchline {}

.sidebar-search {
    position: relative;
    width: 100%;
    margin: 8px;
}

.sidebar-search__input {
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    height: 30px;
    width: 212px;
}

.sidebar-alphabet {}

.button_type_link {
    background: none;
    border: none;
    color: #15ADB7;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 8px;
    text-decoration: none;
}

.link-dotted {}

.scrollbar__layout {}

.scrollbar__inner {}

.checkbox-filter {}

.checkbox-filter__item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkbox-filter__link {}

.scrollbar__holder {}

.slider-filter__form {}

.slider-filter__input {
    width: 32%;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.slider-wrapper {}

.slider {}