.product {
    background-color: #fff;
    padding: 10px;

    .product_top {
        h1 {
            margin-bottom: 20px;
            color: #221f1f;
        }
    }

    .product_breadcrumbs {}

    .breadcrumbs {}

    .breadcrumbs__item {}

    .breadcrumbs__item--home {}

    .breadcrumbs__link {}

    .breadcrumbs__icon-home {}

    .breadcrumbs__icon-chevron {}

    .breadcrumbs__link_end {}

    .product_wrapper {}

    .product_navbar {
        box-sizing: border-box;
        display: block;
        margin: 0 auto 20px;
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        text-align: right;
        color: #000;

        .cod__text {
            color: #697475;
        }


    }

    .product_navbar-list {
        display: flex;
        flex-direction: row;
        max-width: 1280px;
        overflow: auto;
    }

    .product_navbar-item {
        margin-right: 16px;
        margin-bottom: 20px;

        a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding-left: 8px;
            padding-right: 8px;
            white-space: nowrap;
            box-shadow: inset 0 -2px 0 0 #15ADB7;
            color: #15ADB7;
        }
    }

    .product_about-main {
        vertical-align: middle;
        margin-bottom: 25px;
    }

    .product_about {
        // display: flex;
        // justify-content: space-between;
        display: inline-block;
        // max-width: 600px;
        width: 49%;

        &__slider {

            // border: 1px solid black;
            // float: left;



            .product_about_foto-big {
                color: #fff;

                .slick-slide {
                    margin: 0 auto;
                }

                // width: 500px;
                .slick-prev,
                .slick-next {
                    width: 50px;
                    height: 50px;
                    z-index: 10;
                    background-color: #d2d2d2;
                    border-radius: 50%;
                }

                .slick-prev {
                    left: 20px;
                }

                .slick-next {
                    right: 20px;
                }

                .slick-prev:before,
                .slick-next:before {
                    font-size: 60px;
                    color: #e9e9e9;
                    position: absolute;
                    top: 0;
                    left: -5px;
                }



                .product_about-foto--item {
                    color: red;
                }

                img {
                    width: 400px;
                    height: 400px;
                    margin: 0 auto;
                    inset: 0;
                    object-fit: contain;
                }
            }

            .product_about_foto-small {
                padding: 0 10px;

                .slick-slide {
                    // width: 70px !important;
                    // height: 70px;
                }

                .slick-prev,
                .slick-next {
                    width: 50px;
                    height: 50px;
                    z-index: 10;
                    background-color: #d2d2d2;
                    border-radius: 50%;
                }

                .slick-prev {
                    left: 20px;
                }

                .slick-next {
                    right: 20px;
                }

                .slick-prev:before,
                .slick-next:before {
                    font-size: 60px;
                    color: #e9e9e9;
                    position: absolute;
                    top: 0;
                    left: -5px;
                }

                .product_about-foto-item {
                    display: flex !important;
                    justify-content: center !important;
                    align-items: center !important;
                }

                img {
                    height: 150px;
                    object-fit: contain;
                    cursor: pointer;
                }
            }

        }

        &__content {
            width: 49%;
            display: inline-block;
            color: #221f1f;
            vertical-align: top;

            .main_slider-buy {
                display: flex;
                justify-content: flex-start;
                position: relative;
                align-items: center;
                padding: 16px;
                border: 1px solid #e9e9e9;

                .heart_wrap {
                    position: relative;
                    top: 0;
                }

                .price_container {
                    s {
                        color: #697475;
                    }

                    margin-left: 10px;
                    margin-right: 15px;

                    h3 {
                        font-size: 36px;
                        font-weight: normal;
                        color: #221f1f;

                        span {
                            font-size: 36px;
                            font-weight: normal;
                        }
                    }

                    p {
                        color: #0AAEB9;
                    }
                }
            }

            .btn {
                margin-right: 25px;
            }

            .product__hover-list {}

            .heart {
                color: #C6B7B7;
                background-color: transparent;
                border: transparent;
            }

            .main_slider-delivery {
                margin-bottom: 24px;
                border: 1px solid #e9e9e9;
                border-top: 0;
                border-radius: 4px;
                box-sizing: border-box;

                h3 {
                    line-height: 3;
                    border-bottom: 1px solid #e9e9e9;
                    padding-left: 15px;
                    font-size: 1rem;

                    span {
                        color: #0AAEB9;
                    }
                }
            }

            .main_slider-delivery-list {
                vertical-align: baseline;
                padding: 15px;
                padding-left: 10px;
            }

            .delivery-item {
                display: flex;
                position: relative;
                margin-bottom: 10px;

                &>div {
                    display: flex;
                    flex-grow: 1;
                    justify-content: space-between;
                }

                svg {
                    flex-shrink: 0;
                    margin-right: 10px;
                }

                p {
                    position: relative;
                    flex-basis: 250px;
                    line-height: 1.5;
                    margin-bottom: 8px;
                    font-size: 14px;
                    box-sizing: border-box;
                }
            }

            time {
                font-size: 14px;
                margin-bottom: 4px;
                box-sizing: border-box;
            }

            span {
                position: relative;
                line-height: 1.5;
                margin-bottom: 8px;
                font-size: 14px;
                box-sizing: border-box;
            }

            .mani_slider-payment {
                display: grid;
                align-items: center;
                grid-template-columns: min-content 1fr;
                grid-column-gap: 16px;
                column-gap: 16px;
                padding: 16px;
                border: 1px solid #e9e9e9;

                .payment-picture {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    padding: 8px;
                    background-color: #f5f5f5;
                }

                .payment-text {
                    font-size: 14px;

                    strong {
                        font-weight: 700;
                    }
                }
            }

            .mani_slider-guarantee {
                border: 1px solid #e9e9e9;
                border-top: 0;
                display: grid;
                align-items: center;
                grid-template-columns: min-content 1fr;
                grid-column-gap: 16px;
                column-gap: 16px;
                padding: 16px;

                .guarantee-picture {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    padding: 8px;
                    background-color: #f5f5f5;
                }

                .guarantee-text {
                    font-size: 14px;

                    strong {
                        font-weight: 700;
                    }
                }
            }

        }
    }












    .product_bottom {

        width: 100%;

        .product_bottom__parametrs {
            width: 100%;
            color: #000;
            padding-right: 20px;

            .product_bottom__parametrs-item dl {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;
                border-bottom: 1px dashed #697475;
            }

            dt {
                min-width: 200px;
                margin-right: 20px;
            }
        }

    }

}