.winmart {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 100px;
    margin-bottom: 40px;
    background-color: #FFFFFF;

    &_save {
        position: absolute;
        width: 375px;
        height: 57px;
        background: #483D3D;
        border-radius: 10px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: -130px;
        top: 197px;

    }

    &_save__title {
        font-weight: 400;
        font-size: 25px;
        line-height: 63px;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
    }

    &_products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        height: 368px;
        gap: 3px;
    }

    &_product {
        flex-basis: 176px;
        text-align: center;
    }

    &_product__link-img {

        width: 152px;
        height: 142px;
        display: inline-block;
    }

    &_product_img {
        max-width: 152px;
        max-height: 142px;
    }

    &_product__text {
        text-align: center;
    }

    .btn {

        font-size: 15px;
        line-height: 18px;
        color: #15ADB7;
        width: max-content;
        height: max-content;
        background-color: transparent;
        display: inline-block;
    }

    &_product_price {}

    // ***************************
    &_blurb {
        position: relative;
        width: 551px;
        height: 368px;
        background-image: url('../img/winmart/winmart.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        border-top-left-radius: 114px;
        flex-shrink: 0;
    }

    &_blurb__text {
        font-weight: 700;
        font-size: 87px;
        line-height: 63px;
        color: #FFFFFF;
        padding-top: 81px;
        padding-left: 42px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.73);

        span {
            color: #FDDE3B;
        }

        &>span {
            color: #FFFFFF;
            font-weight: 400;
            font-size: 60px;
            line-height: 63px;
        }
    }

    &_blurb__sale {
        position: absolute;
        width: 267px;
        height: 267px;
        bottom: 6px;
        right: 3px;

        border: 0 solid transparent;
        border-top-width: 265px;
        border-bottom-width: 0px;
        border-right: 256px solid #dfcdcd;
    }

    &_blurb__sale-text {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-weight: 400;
        font-size: 57px;
        line-height: 63px;
        width: 121px;
        color: #970404;
    }

}


// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1430px) {}

@media (max-width: 1399.98px) {
    .winmart_blurb {
        display: none;
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .winmart_products {
        height: auto;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}