// @import "~ion-rangeslider/css/ion.RangeSlider";
// @import "~slick-carousel/slick/slick";
// @import "~slick-carousel/slick/slick-theme.css";
// @import "~jquery-form-styler/dist/jquery.formstyler.css";
// @import "../node_modules/jquery-form-styler/dist/jquery.formstyler.theme.css";
// @import 'style/normalize.css';

// @import 'style/fonts';
// @import 'style/var';
// @import 'style/style';


.overflow-hidden {
    overflow: hidden;
}

.show_tabContent {
    display: grid !important;
}

.black-color {
    color: black !important;
}

.red-color {
    color: red !important;
}